<ul *ngIf="isLoggedIn" class="nav flex-column bg-success pt-3" style="height: 95vh;">
    <li class="nav-item">
      <a class="nav-link text-white" href="" routerLink="/customers">
        <i class="fas fa-user"></i>
        <span class="ml-3">Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="" routerLink="/contacts">
        <i class="fas fa-envelope"></i>
        <span class="ml-3">Contacts</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="">
          <i class="fas fa-shopping-cart"></i>
          <span class="ml-3">Leads</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="">
          <i class="fas fa-signal"></i>
          <span class="ml-3">Reports</span>
        </a>
    </li>
  </ul>